@import './assets/styles/common.module.scss';

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $headline-color;
}

a {
  text-decoration: none;
  color: $base-color;
}

.main {
  display: flex;
  justify-content: space-between;
}
